{% extends 'products/base.html' %} 


{% block title %}
{{title}}
{% endblock %}


         {% block content %}
        <h1>menuuuu</h1>

<br>
        <!-- <div class="tovar">
            <h3>паста</h3>
            <p>курица грибы</p>
            <br>
            <h3>суп</h3>
            <p>вода картошка</p>
     

        {% for mens in menu %}
        <h3>{{mens.name}}</h3>
        <p>{{ mens.structure }}</p>
        {% endfor %}
        </div> -->
        <!-- через базу данных -->

        {% endblock %}